@model Projeto_.NET.Models.Jogador
@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>
<div>
    <h4>Informações do Jogador</h4>
    <hr />

    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dt>
            @Html.DisplayFor(model => model.Nome)
        </dt>

        <dt>
            @Html.DisplayNameFor(model => model.Idade)
        </dt>
        <dt>
            @Html.DisplayFor(model => model.Idade)
        </dt>

        <dt>
            @Html.DisplayNameFor(model => model.Altura)
        </dt>
        <dt>
            @Html.DisplayFor(model => model.Altura)
        </dt>
        <dt>
            @Html.DisplayNameFor(model => model.Num)
        </dt>
        <dt>
            @Html.DisplayFor(model => model.Num)
        </dt>
        <dt>
            @Html.DisplayNameFor(model => model.Nmr_Chuteira)
        </dt>
        <dt>
            @Html.DisplayFor(model => model.Nmr_Chuteira)
        </dt>

    </dl>
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a>
    <a asp-action="Index">Back to List</a>
</div>